body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #cad8ff,#e67451,#3B768F) fixed
}

#titleText {
    text-align: center;
    font-size: 42px; 
}

#introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#statusText {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    font-size: 28px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 0px;
}

#continueTextBtn {
    display: flex;
    justify-content: center;
    height: 6vh;
    width: 30vw;
    flex:auto;
    font-size: 24px;
}